.animation-container {
    position: relative;
    width: 50vh;
    height: 50vh;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.outer-gray {
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner-black {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {

    .animation-container {
        width: 30vh;
        height: 30vh;
    }
}